html,

body {
    display: flex;
    justify-content: center;
}

img {
    display: flexbox;
    /* justify-content: center; */
    max-height: 50%;
}

.message {
    box-sizing: content-box;
    text-align: left; 
}