@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;700&family=Outfit:wght@400;700&display=swap');

html,

body {
    background-color: hsl(30, 38%, 92%);
    padding: 80px;
}

.container {
    display: flex;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.image {
    width: 50%;
    height: 10rem;
}

.message {
    box-sizing: content-box;
    width: 50%;
    border-radius: 0 10px 10px 0;
    background-color: hsl(0, 0%, 100%);
    padding-left: 2em;
}

h1 {
    font-family: Fraunces;
    font-weight: 700;
    padding-top: 20px;
}

p {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
}

.figures {
    display: flex;
    font-family: Fraunces;
    font-size: 25px;
    font-weight: 700;
    text-decoration-color: hsl(158, 88%, 10%);
    padding-bottom: 15px;
    padding-top: 15px;
}

.figure {
    padding-left: 2em;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

h2 {
    box-sizing: content-box;
    width: 17vw;
    height: 5vh;
    border-radius: 9px;
    background-color: hsl(158, 36%, 37%);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}

    /* For mobile phones */
    @media only screen and (max-width: 600px) {
        /*.container {
        width: 100%;
    }*/
}

@media only screen and (min-width: 992px) {
    /*.container {
        display: flex;
        flex-direction: row;
        width: 100%;
    } */
}